In [1]:
import pandas as pd
df = pd.read_csv('/dataset/refseq_numeric/all_gene_data/all_gene_data.csv', index_col=0)

In [2]:
df.head(4)

,SNO,Index,RefSeq Gene ID,Dbxref,Name,gbkey,Biotype,Type,Seq_id,Strand,Start,End,No. of Transcripts
0,1,1,gene-DDX11L1,"GeneID:100287102,HGNC:HGNC:37102",DDX11L1,Gene,transcribed_pseudogene,pseudogene,NC_000001.11,1,11874,14409,1
1,2,6,gene-WASH7P,"GeneID:653635,HGNC:HGNC:38034",WASH7P,Gene,transcribed_pseudogene,pseudogene,NC_000001.11,-1,14362,29370,1
2,3,19,gene-MIR6859-1,"GeneID:102466751,HGNC:HGNC:50039,miRBase:MI002...",MIR6859-1,Gene,miRNA,gene,NC_000001.11,-1,17369,17436,3
3,4,26,gene-MIR1302-2HG,"GeneID:107985730,HGNC:HGNC:52482",MIR1302-2HG,Gene,lncRNA,gene,NC_000001.11,1,29926,31295,1

In [3]:
len(df)

60959

In [5]:
seq_region_name = df['Seq_id'].tolist()

In [8]:
df['Seq_id'][-2:][0:2]

60957    NC_012920.1
60958    NC_012920.1
Name: Seq_id, dtype: object

In [9]:
len(df['Seq_id'])

60959

In [10]:
from tqdm import tqdm
seq_id_char = []
for i in tqdm(range(len(df['Seq_id']))):
    seq_id_char.append(df['Seq_id'][i][0:2])

100%|██████████| 60959/60959 [00:02<00:00, 22299.65it/s]

In [14]:
unique_seq_id_char = set(seq_id_char)

In [15]:
unique_seq_id_char

{'NC', 'NT', 'NW'}

In [19]:
nc = 0
nt = 0
nw = 0
for i in tqdm(range(len(seq_id_char))):
    if seq_id_char[i] == 'NC':
        nc = nc + 1
    elif seq_id_char[i] == 'NW':
        nw = nw + 1
    elif seq_id_char[i] == 'NT':
        nt = nt + 1
print('Percentage of NC in refseq_gene = {}'.format(float(nc/len(seq_id_char))*100))
print('Percentage of NW in refseq_gene = {}'.format(float(nw/len(seq_id_char))*100))
print('Percentage of NT in refseq_gene = {}'.format(float(nt/len(seq_id_char))*100))

100%|██████████| 60959/60959 [00:00<00:00, 986467.65it/s]

Percentage of NC in refseq_gene = 88.80723108974885
Percentage of NW in refseq_gene= 3.6713200675864104
Percentage of NT in refseq_gene= 7.521448842664742

In [20]:
import pandas as pd
df1 = pd.read_csv('/dataset/refseq_numeric/all_gene_data/all_transcript_data_corrected.csv', index_col=0)

In [21]:
df1.head(3)

,SNO,Index,RefSeq Gene ID,RefSeq Transcript ID,Dbxref,Parent,gbkey,Type,Seq_id,Strand,Start,End,No. of Exons,Transcript Length
0,1,2,gene-DDX11L1,rna-NR_046018.2,"GeneID:100287102,Genbank:NR_046018.2,HGNC:HGNC...",gene-DDX11L1,misc_RNA,transcript,NC_000001.11,1,11874,14409,3,1652
1,2,7,gene-WASH7P,rna-NR_024540.1,"GeneID:653635,Genbank:NR_024540.1,HGNC:HGNC:38034",gene-WASH7P,misc_RNA,transcript,NC_000001.11,-1,14362,29370,11,1769
2,3,20,gene-MIR6859-1,rna-NR_106918.1,"GeneID:102466751,Genbank:NR_106918.1,HGNC:HGNC...",gene-MIR6859-1,precursor_RNA,primary_transcript,NC_000001.11,-1,17369,17436,1,68

In [23]:
seq_region_name_transcript = df1['Seq_id'].tolist()

In [24]:
from tqdm import tqdm
seq_id_char_transcript = []
for i in tqdm(range(len(df1['Seq_id']))):
    seq_id_char_transcript.append(df1['Seq_id'][i][0:2])

100%|██████████| 171197/171197 [00:06<00:00, 26780.62it/s]

In [25]:
unique_seq_id_char_transcript = set(seq_id_char_transcript)

In [26]:
unique_seq_id_char_transcript

{'NC', 'NT', 'NW'}

In [28]:
len(seq_id_char_transcript)

171197

In [27]:
nc = 0
nt = 0
nw = 0
for i in tqdm(range(len(seq_id_char_transcript))):
    if seq_id_char_transcript[i] == 'NC':
        nc = nc + 1
    elif seq_id_char_transcript[i] == 'NW':
        nw = nw + 1
    elif seq_id_char_transcript[i] == 'NT':
        nt = nt + 1
print('Percentage of NC in refseq_transcript = {}'.format(float(nc/len(seq_id_char_transcript))*100))
print('Percentage of NW in refseq_transcript = {}'.format(float(nw/len(seq_id_char_transcript))*100))
print('Percentage of NT in refseq_transcript = {}'.format(float(nt/len(seq_id_char_transcript))*100))

100%|██████████| 171197/171197 [00:00<00:00, 1129856.83it/s]

Percentage of NC in refseq_transcript = 94.12548117081491
Percentage of NW in refseq_transcript = 2.032161778535839
Percentage of NT in refseq_transcript = 3.8423570506492517

In [34]:
import pandas as pd
df2 = pd.read_csv('/dataset/refseq_numeric/all_gene_data/all_exon_data_corrected.csv', index_col=0)

/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [35]:
df2.reset_index(drop=True, inplace=True)

In [36]:
df2.head(2)

,SNO,Index,RefSeq Gene ID,RefSeq Transcript ID,RefSeq Exon ID,Dbxref,Parent,gbkey,Type,Seq_id,Strand,Start,End,Exon Length
0,1,3,DDX11L1,rna-NR_046018.2,exon-NR_046018.2-1,"GeneID:100287102,Genbank:NR_046018.2,HGNC:HGNC...",rna-NR_046018.2,misc_RNA,exon,NC_000001.11,1,11874,12227,354
1,2,4,DDX11L1,rna-NR_046018.2,exon-NR_046018.2-2,"GeneID:100287102,Genbank:NR_046018.2,HGNC:HGNC...",rna-NR_046018.2,misc_RNA,exon,NC_000001.11,1,12613,12721,109

In [37]:
seq_region_name_exon = df2['Seq_id'].tolist()

In [38]:
from tqdm import tqdm
seq_id_char_exon = []
for i in tqdm(range(len(df2['Seq_id']))):
    seq_id_char_exon.append(df2['Seq_id'][i][0:2])

100%|██████████| 1933469/1933469 [02:48<00:00, 11442.15it/s]

In [39]:
unique_seq_id_char_exon = set(seq_id_char_exon)

In [40]:
unique_seq_id_char_exon

{'NC', 'NT', 'NW'}

In [41]:
len(seq_id_char_exon)

1933469

In [42]:
nc = 0
nt = 0
nw = 0
for i in tqdm(range(len(seq_id_char_exon))):
    if seq_id_char_exon[i] == 'NC':
        nc = nc + 1
    elif seq_id_char_exon[i] == 'NW':
        nw = nw + 1
    elif seq_id_char_exon[i] == 'NT':
        nt = nt + 1
print('Percentage of NC in refseq_exon = {}'.format(float(nc/len(seq_id_char_exon))*100))
print('Percentage of NW in refseq_exon = {}'.format(float(nw/len(seq_id_char_exon))*100))
print('Percentage of NT in refseq_exon = {}'.format(float(nt/len(seq_id_char_exon))*100))

100%|██████████| 1933469/1933469 [00:02<00:00, 883539.51it/s]

Percentage of NC in refseq_exon = 96.35556608355242
Percentage of NW in refseq_exon = 1.2412404853659407
Percentage of NT in refseq_exon = 2.4031934310816463

In [43]:
import pandas as pd
df3 = pd.read_csv('/dataset/refseq_numeric/all_type=lncRNA_data/all_lncrna_gene_data.csv', index_col=0)

In [44]:
df3.head(2)

,SNO,Index,RefSeq Gene ID,Dbxref,Name,gbkey,Biotype,Type,Seq_id,Strand,Start,End,No. of Transcripts
0,1,26,gene-MIR1302-2HG,"GeneID:107985730,HGNC:HGNC:52482",MIR1302-2HG,Gene,lncRNA,gene,NC_000001.11,1,29926,31295,1
1,2,36,gene-FAM138A,"GeneID:645520,HGNC:HGNC:32334",FAM138A,Gene,lncRNA,gene,NC_000001.11,-1,34611,36081,1

In [45]:
seq_region_lncrna_gene = df3['Seq_id'].tolist()

In [46]:
from tqdm import tqdm
seq_id_char_lncrna_gene = []
for i in tqdm(range(len(df3['Seq_id']))):
    seq_id_char_lncrna_gene.append(df3['Seq_id'][i][0:2])

100%|██████████| 15967/15967 [00:00<00:00, 35774.13it/s]

In [47]:
unique_seq_id_char_lncrna_gene = set(seq_id_char_lncrna_gene)

In [48]:
unique_seq_id_char_lncrna_gene

{'NC', 'NT', 'NW'}

In [49]:
len(seq_id_char_lncrna_gene)

15967

In [50]:
nc = 0
nt = 0
nw = 0
for i in tqdm(range(len(seq_id_char_lncrna_gene))):
    if seq_id_char_lncrna_gene[i] == 'NC':
        nc = nc + 1
    elif seq_id_char_lncrna_gene[i] == 'NW':
        nw = nw + 1
    elif seq_id_char_lncrna_gene[i] == 'NT':
        nt = nt + 1
print('Percentage of NC in refseq_lncrna_gene = {}'.format(float(nc/len(seq_id_char_lncrna_gene))*100))
print('Percentage of NW in refseq_lncrna_gene = {}'.format(float(nw/len(seq_id_char_lncrna_gene))*100))
print('Percentage of NT in refseq_lncrna_gene = {}'.format(float(nt/len(seq_id_char_lncrna_gene))*100))

100%|██████████| 15967/15967 [00:00<00:00, 1145009.35it/s]

Percentage of NC in refseq_lncrna_gene = 91.70163462140664
Percentage of NW in refseq_lncrna_gene = 2.5239556585457503
Percentage of NT in refseq_lncrna_gene = 5.774409720047599