## Loading all gene IDs from the csv file

In [1]:
import csv 
import pandas as pd
import numpy as np
import json

In [2]:
path = '/Users/pankajverma/Desktop/summerInternship2k17/GSoC/Ensembl/1.lncRNA/dataset/Ensembl_numeric/all_gene_data/all_gene_ids.csv'

df = pd.read_csv(path)
gene_ids = df['All gene ID'].tolist()
cleaned_ids = []
cleaned_ids = gene_ids

## calculating time taken to open 1.05GB json file

## 'read_content' variable (given below) contains the json response received

In [3]:
%%time
with open("/Users/pankajverma/Desktop/summerInternship2k17/GSoC/Ensembl/1.lncRNA/dataset/Ensembl_numeric/merged_all_gene_data(dict).json") as access_json:
    read_content = json.load(access_json)

CPU times: user 22.1 s, sys: 9.11 s, total: 31.3 s
Wall time: 41 s

In [9]:
from tqdm import tqdm
gene_ids = []
null_gene_ids = []

In [10]:
def get_gene_data():
    
    count = 0
    for i in tqdm(range(len(cleaned_ids))):
        if read_content[cleaned_ids[i]] == None:
            null_gene_ids.append([cleaned_ids[i]])
            #del cleaned_ids[i]
        else:
            
            gene_ids.append(cleaned_ids[i])
#             gene_display_name.append(read_content[cleaned_ids[i]]['display_name'])
#             gene_start.append(read_content[cleaned_ids[i]]['start'])
#             gene_end.append(read_content[cleaned_ids[i]]['end'])
#             gene_strand.append(read_content[cleaned_ids[i]]['strand'])
#             gene_seq_region_name.append(read_content[cleaned_ids[i]]['seq_region_name'])
#             gene_biotype.append(read_content[cleaned_ids[i]]['biotype'])
            if cleaned_ids[i] in read_content:
                count = count + 1
        
    #print(count)

In [11]:
%%time
get_gene_data()

100%|██████████| 58884/58884 [00:00<00:00, 767277.43it/s]

CPU times: user 76.9 ms, sys: 3.01 ms, total: 79.9 ms
Wall time: 87.5 ms

## 'null_gene_ids' variable contains the IDs having null values

In [12]:
print('No. of Null IDs are {0}'.format(len(null_gene_ids)))
print('Null IDs are :')
for i in range(len(null_gene_ids)):
    
    print(null_gene_ids[i])

No. of Null IDs are 0
Null IDs are :

In [14]:
cleaned_ids = []
cleaned_ids = gene_ids
print(len(cleaned_ids))

58884

In [16]:
transcript_strand = []
transcript_seq_region_name = []

In [14]:
#gene_ids_for_transcripts

## Below function [get_transcript_data() ] to extract 'transcript' data. Data Extracted are :
1. transcript id
2. transcript start
3. transcript end
4. transcript biotype

In [17]:
def get_transcript_data():
    for i in range(len(cleaned_ids)):
        
        for j in range(len(read_content[cleaned_ids[i]]['Transcript'])):
            transcript_strand.append(read_content[cleaned_ids[i]]['Transcript'][j]['strand'])
            transcript_seq_region_name.append(read_content[cleaned_ids[i]]['Transcript'][j]['seq_region_name'])
            
#     for k in range(len(gene_ids_for_transcripts)):
#         print('Transcript "{0}" of gene ID "{1}" has start and end as : "{2}" & "{3}"'.format(transcript_id[k],gene_ids_for_transcripts[k],transcript_start[k],transcript_end[k]))

In [18]:
get_transcript_data()

In [19]:
print(len(transcript_strand))
print(len(transcript_seq_region_name))

208527
208527

In [22]:
exon_strand = []
exon_seq_region_name = []

## Below function [get_exon_data() ] to extract 'exon' data. Data Extracted are :
1. exon id
2. exon start
3. exon end

In [23]:
def get_exon_data():
    for i in tqdm(range(len(cleaned_ids))):
        
        for j in range(len(read_content[cleaned_ids[i]]['Transcript'])):
            for k in range(len(read_content[cleaned_ids[i]]['Transcript'][j]["Exon"])):
                
                exon_strand.append(read_content[cleaned_ids[i]]['Transcript'][j]["Exon"][k]['strand'])
                exon_seq_region_name.append(read_content[cleaned_ids[i]]['Transcript'][j]["Exon"][k]['seq_region_name'])
                
            
#     for l in range(len(transcript_ids_for_exons)):
        
#         print('Exon "{0}" of Transcript ID "{1}" having gene ID "{2}" has start and end as : "{3}" & "{4}"'.format(exon_id[l],transcript_ids_for_exons[l],gene_ids_for_exons[l],exon_start[l],exon_end[l]))

In [24]:
%%time
get_exon_data()

100%|██████████| 58884/58884 [00:07<00:00, 7646.01it/s]

CPU times: user 2.84 s, sys: 2.51 s, total: 5.35 s
Wall time: 7.71 s

In [26]:
print(len(exon_seq_region_name))
print(len(exon_strand))

1279073
1279073

# Transcript data correction

In [27]:
import pandas as pd
df = pd.read_csv('/Users/pankajverma/Desktop/summerInternship2k17/GSoC/Ensembl/1.lncRNA/dataset/Ensembl_numeric/all_gene_data/all_transcript_data.csv', index_col=0)

In [28]:
df.head(3)

,SNO,Gene ID,Transcript ID,Biotype,Transcript Start,Transcript End,Transcript Length,No. of Exons
0,1,ENSG00000000003,ENST00000373020,protein_coding,100628670,100636806,2206,8
1,2,ENSG00000000003,ENST00000496771,processed_transcript,100632541,100636689,1025,6
2,3,ENSG00000000003,ENST00000494424,processed_transcript,100633442,100639991,820,6

In [30]:
df['Strand'] = transcript_strand
df['Seq region Name'] = transcript_seq_region_name

In [31]:
df.head(4)

,SNO,Gene ID,Transcript ID,Biotype,Transcript Start,Transcript End,Transcript Length,No. of Exons,Strand,Seq region Name
0,1,ENSG00000000003,ENST00000373020,protein_coding,100628670,100636806,2206,8,-1,X
1,2,ENSG00000000003,ENST00000496771,processed_transcript,100632541,100636689,1025,6,-1,X
2,3,ENSG00000000003,ENST00000494424,processed_transcript,100633442,100639991,820,6,-1,X
3,4,ENSG00000000003,ENST00000612152,protein_coding,100627109,100637104,3796,7,-1,X

In [32]:
df = df[['SNO', 'Gene ID', 'Transcript ID', 'Biotype', 'Strand', 'Seq region Name', 'Transcript Start', 'Transcript End', 'Transcript Length','No. of Exons']]

In [33]:
df.head(3)

,SNO,Gene ID,Transcript ID,Biotype,Strand,Seq region Name,Transcript Start,Transcript End,Transcript Length,No. of Exons
0,1,ENSG00000000003,ENST00000373020,protein_coding,-1,X,100628670,100636806,2206,8
1,2,ENSG00000000003,ENST00000496771,processed_transcript,-1,X,100632541,100636689,1025,6
2,3,ENSG00000000003,ENST00000494424,processed_transcript,-1,X,100633442,100639991,820,6

In [34]:
len(df['SNO'])

208527

In [35]:
df.to_csv('/Users/pankajverma/Desktop/summerInternship2k17/GSoC/Ensembl/1.lncRNA/dataset/Ensembl_numeric/all_gene_data/all_transcript_data.csv')

# Exon data correction below

In [36]:
import pandas as pd
df = pd.read_csv('/Users/pankajverma/Desktop/summerInternship2k17/GSoC/Ensembl/1.lncRNA/dataset/Ensembl_numeric/all_gene_data/all_exon_data.csv', index_col=0)

/Users/pankajverma/anaconda3/envs/gsoc_ensembl/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [38]:
len(df)

1279073

In [39]:
df['Strand'] = exon_strand
df['Seq region Name'] = exon_seq_region_name

In [40]:
df.head(3)

,SNO,Gene ID,Transcript ID,Exon ID,Exon Start,Exon End,Exon Length,Strand,Seq region Name
0,1,ENSG00000000003,ENST00000373020,ENSE00001855382,100636608,100636806,199,-1,X
1,2,ENSG00000000003,ENST00000373020,ENSE00003662440,100635558,100635746,189,-1,X
2,3,ENSG00000000003,ENST00000373020,ENSE00003654571,100635178,100635252,75,-1,X

In [41]:
df = df[['SNO', 'Gene ID', 'Transcript ID', 'Exon ID', 'Strand','Seq region Name','Exon Start', 'Exon End', 'Exon Length']]

In [42]:
df.head(2)

,SNO,Gene ID,Transcript ID,Exon ID,Strand,Seq region Name,Exon Start,Exon End,Exon Length
0,1,ENSG00000000003,ENST00000373020,ENSE00001855382,-1,X,100636608,100636806,199
1,2,ENSG00000000003,ENST00000373020,ENSE00003662440,-1,X,100635558,100635746,189

In [43]:
df.to_csv('/Users/pankajverma/Desktop/summerInternship2k17/GSoC/Ensembl/1.lncRNA/dataset/Ensembl_numeric/all_gene_data/all_exon_data.csv')